data/*
!data/
data/argo/*
!data/argo/
!data/argo/alternate_dataset.py
sample_ds.ns
src/__pycache__/
src/utils/__pycache__/
src/utils/__pycache__/dataset.cpython-312.pyc
src/models/__pycache__/
saved_models
test_indices/*
src/notebooks/**/*.pkl
sync_from_remote.sh
sync_from_mist.sh
recieved_data/*
recieved_data
dynamic_res_models/
gan_models/
lower_res_models/
low_res_indices/
ray_results/
results/
*.nc